body {
    background-color: #fffcf2;
    max-width: 100%;
    overflow-x: hidden;
}

#list {
    position: relative;
    left: 45%;
    width: 500px;
    top: 30%;
}

ul {
    position: relative;
    font-family: garamond;
    font-size: 25;
    list-style: none;
    left: -1%;
    opacity: 80%;
}

li:hover {
    text-decoration: underline;
}

a {
    color: black;
    opacity: 80%;
    text-decoration: none;
}

h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    opacity: 80%;
}

#red1 {
    position: relative;
    background-color: #ffb7b2;
    width: 450px;
    height: 15px;
    top: -150px;
    animation: moveRed 8s infinite alternate ease-in-out;
}

@keyframes moveRed {
    from {
        left: -400px;
    } to {
        left: 120%;
    }
 }

#lime1 {
    background-color: #e2f0cb;
    position: relative;
    width: 750px;
    height: 15px;
    top: 250px;
    animation: moveLime 10s infinite alternate ease-in-out;
}

@keyframes moveLime {
    from {
        left: -500px;
    } to {
        left: 120%;
    }
 }

#green1 {
    background-color: #b5ead7;
    position: relative;
    width: 350px;
    height: 15px;
    top: -250px;
    animation: moveGreen 7s infinite alternate ease-in-out;
}

@keyframes moveGreen {
    from {
        left: 110%;
    } to {
        left: -10%;
    }
 }

#orange1 {
    background-color: #ffdac1;
    position: relative;
    width: 600px;
    height: 15px;
    top: 350px;
    animation: moveOrange 9s infinite alternate ease-in-out;
}

@keyframes moveOrange {
    from {
        left: 130%;
    } to {
        left: -50%;
    }
 }