#container {
    position: relative;
    left: 20%;
    width: 80%;
}

#mac {
    width: 1000px;
    z-index: -1;
}

#box {
    position: relative;
    width: 265px;
    height: 200px;
    top: -575px;    
    left: 330px;
    border-radius: 5%;
    background-color: white;
}

#google {
    position: relative;
    width: 250px;
    z-index: 5;
    top: -715px;
    left: 340px;
}

#mouse>div {
    position: relative;
    top: -410px;
    left: 900px;
    width: 150px;
    height: 120px;
}

#mouse:hover + #gif{
    opacity: 100%;
}

#gif {
    position: relative;
    z-index: 6;
    top: -980px;
    left: 630px;
    width: 270px;
    height: 205px;
    border-radius: 5%;
    opacity: 0%;
}